<h2>Story Information</h2>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:id, "Search for:") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Search") %>
<% end %>



<p>Title: <%= @story.title %></p>

<p>Category: <%= @story.category %></p>

<p>Link: <%= @story.link%></p>

<p>Upvotes: <%= @story.upvotes%></p>

<%= link_to "Back", story_index_path %>
<%= link_to "Edit", "/story/#{@story.id}/edit/" %>