<h1>Uptick News</h1>  
		


<%= form_tag("/stock/search", method: "post") do %>
  <%= label_tag(:keywords, "Search for:") %>
  <%= text_field_tag(:keywords)%>
  <%= submit_tag("Search") %>
<% end %>



<h3><%= link_to "About", "/page" %></h3>